

.App {
  text-align: center;
}

/* LOGGED IN APP */
.App-loggedin {
  display: flex;
  flex-direction: row;
  
}

.hide {
  display: none;
}

/* VIDEO BACKGROUNDS */

#video-overlay {
  background: rgb(227, 255, 234);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 100%;
  z-index: -1;
  /* animation: videocolor 7s infinite; */
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 30%;
  z-index: -2;
  filter: invert(100%);
  filter: contrast(-0.5);
  transform: rotate(180deg);
}

#video-background2 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 35%;
  /* z-index: -2; */
  filter: contrast(3);
  transform: scaleX(-1); 
  /* filter: invert(70%); */
  filter: brightness(3);
}


/************* LANDING PAGE  **************/

#landing-page-container {
  /* background-color: rgb(227, 231, 208); */
  /* background-image: linear-gradient(90deg, rgb(227, 231, 208), rgba(255, 164, 36, 0.376)); */
  /* background-image: linear-gradient(155deg, rgb(227, 231, 208) 50%, rgba(255, 164, 36, 0.376) 90%); */

  background: linear-gradient(310deg, #d9e1b3, #fbd49e, #d9e1b3);
  background-size: 600% 600%;

  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;

  height: 100vh;
  width: 100vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -10;
  /* animation: landwave 4s linear 0s infinite normal;
  animation-timing-function: ease-in-out;
  -webkit-animation-timing-function: ease-in-out; */
}



@keyframes AnimationName {
  0%{background-position:0% 14%}
  50%{background-position:100% 87%}
  100%{background-position:0% 14%}
}

#landing-top {
  display: flex;
  flex-direction: row;
}

#landing-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10% 0 0 5%;
  width: 40%;
  text-align: left;
}

#landing-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em 10em 0 7em;
  width: 30%;
}

#landing-header h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 10em;
  width: 50%;
  text-align: left;
  line-height: 0.75em;
  text-shadow: -15px 0px 0px rgba(255, 255, 255, 1);
}

#landing-subheading{
  margin-top: 8px;
}

#landing-subheading h2 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 3em;
}

#landing-subheading h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
}

#landing-right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10% 0 0 10%;
  width: 40%;
  text-align: right;
}

#landing-thumbnail {
  background-color: grey;
  height: 300px;
  width: 500px;
}




/************** NAVBAR :LOGGED OUT **************/
#top-nav-container {
  background-color: white;
  width: 100vw;
  height: 78px;
  z-index: 10;
  position: absolute;
}

#top-nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 3% 0 3%;
}

#top-nav-logo h3 {
  color: orangered;
  font-size: 2em;  
}

#top-nav-links img {
transform: rotate(-10deg);
}

#top-nav-links img:hover {
  cursor: grab;
  animation-name: handwave;
  animation-duration: 0.6s;
  animation-iteration-count: infinite;
}

@keyframes handwave {
  0%   {transform: rotate(28deg);}
  50%  {transform: rotate(-28deg);}
  100% {transform: rotate(28deg);}
}

#top-nav-content-loggedin a {
  margin: 20px 20px 10px 20px;
  color: black;
}

#top-nav-content-loggedin a:hover {
  color: orangered;
}




/************** SIGNUP: FIND COMPANY PAGE **************/

#signup-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#company-search {
  width: 30em;
}

#signup-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40em;
  background-color: rgba(255, 255, 255, 0.696);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 4em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#signup-content-container h3 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
  margin-top: -10px;
}

#signup-content-container h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-style: italic;
}



/************** SIGNUP: ADD  COMPANY FORM **************/

#formcompany-container form input{
  border: 1px solid rgba(128, 128, 128, 0.331);
  margin-bottom: 1em;
  height: 2.5em;
  width: 25em;
  border-radius: 5px;
}

#formcompany-container form input::placeholder {
  color: rgb(135, 135, 135);
  text-align: center;
  font-size: 0.95em;
}

/* SIGNUP: RECRUITER FORM */

#formsignup-container {
  background-color: rgba(255, 255, 255, 0.696);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 4em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#formsignup-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formsignup-container form input {
  border: 1px solid rgba(128, 128, 128, 0.331);
  margin-bottom: 1em;
  height: 2.5em;
  width: 25em;
  border-radius: 5px;
}

#formsignup-container form input::placeholder{
  color: rgb(135, 135, 135);
  text-align: center;
  font-size: 0.95em;
}

#formsignup-container h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
  margin-top: -10px;
}

.exit {
  position: relative;
  top: -40px;
  right: 55%;
}

.exit a {
  color: rgb(187, 187, 187);
}

.exit a:hover {
  color: black;
}


/************** LOGIN MODAL **************/

#login-page-container {
  z-index: 15;
  top: 20%;
  right: 30%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 4em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  animation: modal 1.3s;
}

@keyframes modal {
  0% {opacity: 0%;}
  0% {top: 15%;}
  100% {top: 20%;}
}


#login-form form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#login-form form input {
  border: 1px solid rgba(128, 128, 128, 0.331);
  margin-bottom: 1em;
  height: 2.5em;
  width: 25em;
  border-radius: 5px;
}

#login-form form input::placeholder{
  color: rgb(135, 135, 135);
  text-align: center;
  font-size: 0.95em;
}

#login-popup h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
  margin-top: -10px;
}

#login-exit {
  position: relative;
  top: -40px;
  right: -200px;
  color: rgb(170, 170, 170);
  font-size: 1.8em;
}

#login-exit:hover{
  color: black;
  cursor: grab;
}

.icon-right-arrow {
  color: rgb(170, 170, 170);
}

.icon-right-arrow:hover {
  color: black;
  cursor: grab;
}

/************** NAV HAMBURGER :LOGGED IN **************/

#hamburger-icon {
  color: orangered;
  font-size: 45px;
  cursor: grab;
}

#hamburger-content #hamburger-icon {
  position: relative;
  top: 30px;
  left: 20px;
}

#hamburger-content #hamburger-icon:hover {
  animation-name: wave;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

@keyframes wave {
  0%   {transform: rotate(-100deg);}
  50%  {transform: rotate(20deg);}
  100% {transform: rotate(-100deg);}
}

#nav-dashboard-content #hamburger-icon {
 position: relative;
 left: 20%;
 top: -50px;
}

#nav-dashboard-container {
  position: relative;
  /* top: -30px; */
  left: -10px;
  background-color: white;
  height: 100vh;
  z-index: 10;
  width: 15%;
  text-align: center;
  border-radius: 50px;
  border: 10px solid white;
}

#nav-dashboard-container h3 {
  color: black;
  font-size: 2em; 
  margin: -1em 0 1em 0;
  color: orangered;
  position: relative;
  left: 10%;
}

#nav-dashboard-container h4 {
  text-align: center;
  position: relative;
  left: 10%;
}

#nav-dashboard-container #peaceout-icon{
  position: relative;
  left: 10%;
  color: orangered;
  margin-top: 50%;
}

#nav-dashboard-content {
  padding: 1em;
  margin-top: 8em;
}

#nav-dashboard-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  margin-left: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 2.5em;
  color: black;
}

#nav-dashboard-container a:hover {
 color: orangered;
 background-color: white;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 border-radius: 20px;
}

#nav-dashboard-container a:focus {
  color: black;
  background-color: white;
  border-radius: 20px;
 }

 #nav-dashboard-content #logout {
  position: relative;
 }

/************** MY DASHBOARD CONTAINER **************/


#user-display a{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 8px;
  right: 48px;
  color: black;
}

#user-display a:hover{
  color:orangered;
}

#user-display span {
  font-weight: 600;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100%;
  border: 30px solid rgb(255, 255, 255);
  border-radius: 50px;
  background-color: rgba(227, 231, 208, 0.34);
  padding: 3em;
  margin-top: 0;
}

.dashboard-header {
  background-color: rgba(227, 231, 208, 0.607);
  padding: 0.8em;
  border-radius: 20px;
  width: 100%;
  margin-top: -10px;
}

.dashboard-header h1{
  font-family: 'Paytone One', sans-serif;
  font-size: 2.8em;
  text-shadow: -7px 0px 0px rgba(255, 255, 255, 1);
  text-align: left;
}

/*************** MY DASHBOARD: HOME ****************/

.dashboard-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin-top: 3.8em;
}

#dashboard-content-top {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* margin-bottom: 3em; */
}

#dashboard-content-bottom {
  margin-top: 2em;
}


#my-boards-container {
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 3em;
  border-radius: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
}

#my-metrics-card-container {
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.8em;
  border-radius: 20px;
  /* width: 18%; */
  height: 11em;
  text-align: center;
  margin: 1em;
}

#my-metrics-card-container h1 {
  font-size: 3.8em;
  margin-bottom: -30px;
}


.hired-highlight h1 {
  color: green;
  font-size: 3.8em;
}


#team-block-header {
  margin-bottom: 2em;
}

#my-boards-container h3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}

#team-block-header .add-icon {
  font-size: 2.7em;
}

#team-block-header .add-icon:hover {
  color: orangered;
}


#my-content-blocks h3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}

/* MY TEAM CARDS */

.team-card-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 1em;
  /* margin: 10px 0 30px 10px; */
  /* padding: 1em;  */
  width: 18em;
  border: none;
}
#card-content-top #team-data {
  margin: 10px 0 0 -10px;
}

#card-content-top {
  height: 80px;
  background: linear-gradient(450deg, rgba(227, 231, 208, 0.629), #ffffff);
  
}

#card-content-top:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: grab;
}

#card-content-top #team-data #team-data-icon {
  width: 100px;
}

/* .team-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: grab;
} */


/* MY REQS PAGE  */

.req-container {
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2em;
  border-radius: 20px;
  margin-top: 3%;

}

#req-top-container {
  display: flex;
  flex: row;
  justify-content: space-between;
}

#req-id-column {
  width: 90px;
}

#req-row-hired {
  background-color: rgb(243, 243, 243);
  color: grey;
  font-style: italic;
}

#req-row:hover {
  background-color: rgba(245, 245, 245, 0.561);
}

#edit-req-column {
  width: 65px;
  border-left: none;
  background-color: rgba(245, 245, 245, 0.561);

}

#edit-req-row {
  display: flex;
  justify-content: space-between;
  border-left: none;
  /* background-color: rgba(228, 229, 229, 0.561); */
}

#delete-req-icon,
#edit-req-icon {
  color: rgb(200, 200, 200);
  margin-right: 0;
}

#delete-req-icon:hover,
#edit-req-icon:hover {
  color: black;
  cursor: grab;
}


/**************** MY DASHBOARD: HOME ADMIN ****************/

#admin-team-header h3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  text-align: center;
}

#my-dashboard-content-right {
  background-image: linear-gradient(170deg, rgb(227, 231, 208), rgba(255, 255, 255, 0.168));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.8em;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: -3em 2em 0 0;
}

#dashboard-content-left {
  width: 70%;
}

#admin-team-container, 
#admin-team-container #admin-team-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#admin-recruiter-container {
  margin-top: 10%;
  border-top: 1px solid black;
}

#admin-recruiter-container h3 {
  margin-top: 10%;
}

#admin-team-header h4{
  margin-bottom: -15px;
  font-style: italic;
}


/* MY DASHBOARD: ADMIN ADD TEAM FORM */

#add-team-container { 
  background-color: white;
  padding: 0.5em;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  margin-bottom: 1em;
  width: 290px;
}

#add-team-container h3 {
  color: orangered;
  font-size: 1.3em;
  margin: 5px;
}

#add-team-container #arrow-right {
  margin-left: 10px;
}

#add-team-container input {
  border: 1px solid rgb(207, 207, 207);
  height: 2em;
  width: 80%;
}

/* ADMIN: TEAM CARDS  */

#admin-team-header .add-icon {
  margin: 5px;
}

#admin-team-header .add-icon:hover {
  color: orangered;
  cursor: grab;
}

.admin-team-card-container {
  margin: 3px;
  width: 230px;
}

.admin-team-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: grab;
}

.admin-team-card-container #admin-card-content-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px;
}

#admin-card-content-top h5:hover {
  color: orangered;
}

#admin-edit-icon {
  position: absolute;
  right: 45px;
  margin-top: -10px;
  color: rgb(169, 169, 169);
}

#admin-edit-icon:hover {
  color: black;
  cursor: grab;
}

#admin-delete-icon {
  position: absolute;
  right: 10px;
  margin-top: -7px;
  color: rgb(169, 169, 169);
}

#admin-delete-icon:hover {
  color: orangered;
  cursor: grab;
}

/* ADMIN: RECRUITER LIST  */

.admin-recruiter-list {
  background-color: white;
  border-radius: 2px;
  padding: 0.3em;
  margin: 8px;
}


/**************** DASHBOARD SUB-NAV ****************/

.sub-nav-container {
  width: 100%;
}

.sub-nav-container button {
  border: none;
  padding: 0.8em 1.3em 0.8em 1.3em;
  margin: 20px 5px 0 5px;
  border-radius: 20px;
  color: grey;
  background-color: white;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  
}

.sub-nav-container button:hover {
  color: orangered;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor:grab;
}

.sub-nav-container button:focus {
  color: white;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 600;
}







/******************* MY SETTINGS PAGE  ********************/

#settings-card {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 900px;
  border: 20px solid white;
  margin-top: 3%;
}

#settings-left-content {
  background-color: rgb(227, 231, 208);
  padding: 5em;
  /* border-radius: 10px 0 0 20px; */
}

#settings-left-content h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 7em;
  width: 50%;
  text-align: left;
  line-height: 0.9em;
  text-shadow: -15px 0px 0px rgba(255, 255, 255, 1);
}

#settings-left-content h3 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2em;
}

#settings-left-content h1 span {
  color: orangered;
}

#settings-right-content {
  background-color: rgba(255, 255, 255, 0.71);
  padding: 6em;
  /* border-radius: 0 20px 20px 0; */
  width: 700px;
}

#settings-right-content .title {
  font-weight: 600;
}

#settings-right-content p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

/**************** MY SETTINGS PAGE: FORM *****************/

#form-edit-recruiter-container {
  background-color: rgba(255, 255, 255, 0.696);
  padding: -10px;
}

#form-edit-recruiter-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
}

#form-edit-recruiter-container form input {
  border: 1px solid rgba(128, 128, 128, 0.331);
  margin-bottom: 1em;
  height: 2.5em;
  border-radius: 5px;
}

#form-edit-recruiter-container form input::placeholder{
  color: rgb(135, 135, 135); 
  font-size: 0.95em;
}

#form-edit-recruiter-container .exit {
  position: relative;
  top: -60px;
  right: -220px;
}

#form-edit-recruiter-container .exit a {
  color: rgb(170, 170, 170);
}

#form-edit-recruiter-container .exit a:hover {
  color: black;
}

/*************** TEAM DASHBOARD ****************/

#user-display #icon-home {
  margin-left: -190px;
}

/* TEAM DASHBOARD: HOME */

#team-container {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#team-container-right {
  margin-left: 3em;
  background-image: linear-gradient(170deg, rgb(227, 231, 208), rgba(255, 255, 255, 0.168));
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0.7em;
  margin-top: 2%;
  border-radius: 20px;
  height: 80%;
  width: 15em;
}

#team-block{
  height: 100%;
}

#team-container-right #team-block h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: black;
  margin-top: 30px;
  text-align: center;
  border-top: 1px solid black;
  padding: 1.5em 0 0.5em 0;
}

/* #team-container-left #dashboard-content-right {
  width: 30em;
} */

.team-recruiters .add-icon {
  color: rgba(188, 188, 188, 0.779);;
  position: relative;
  left: 30%;
  margin: 0.5em;
  font-size: 2.8em;
}

.team-recruiters .add-icon:hover {
  color: black;
  cursor: grab;
}

#recruiter-name {
  margin-top: 10px;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.696);
}

#team-container .req-container .edit-req{
  width: 60px;
}

#team-metrics-card-container {
  padding: 0.5em;
  text-align: center;
  color: black;
  margin-bottom: 10px;

}
#team-metrics-card-container h1 {
  font-size: 3em;
  margin: 0px;
}

#team-metrics-card-container h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.3em;
  margin: -10px;
}

/* TEAM RECRUITER CARD DISPLAY */

.recruiter-card-container {
  margin-bottom: 10px; 
}


#recruiter-card-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px;
  background-color: rgba(61, 61, 61, 0);
}

#recruiter-card-content:hover {
  background-color: rgba(208, 208, 208, 0.61);
}

#recruiter-card-content h5 {
  font-size: 0.7em;
  color: black;
  font-weight: 300;
}

#recruiter-delete-icon {
  color: rgba(188, 188, 188, 0.779);
  position: absolute;
  right: 0;
  top: 3.5px;
  font-size: 1.5em;
}

#recruiter-delete-icon:hover {
  cursor: grab;
  color: black;
}

#add-recruiter-container {
  display: flex;
  flex-direction: column;
}

#recruiter-add-button {
  margin: 1em;
}

#recruiter-add-button:hover {
  background-color: rgba(188, 188, 188, 0.779);
}


/* TEAM ADD REQ PAGE */

#team-find-search {
  display: flex;
  
}

#team-find-search #company-search{
  width: 40%;
  margin-right: 10px;
}

#team-add-req form {
  margin-bottom: 3em;
  /* display: flex;
  flex-wrap: wrap; */
  /* width: 50%; */
  border: 1px solid grey;
  border-radius: 10px;
  padding: 1em;
}

#team-add-req form input {
  border: none;
  border-bottom: 1.4px dotted rgb(0, 0, 0);
  margin-right: 20px;
  /* background-color: rgb(207, 207, 207); */
  height: 30px;
  width: 20%;
}

#team-add-req form input[type="date"] {
  color: gray;
}

#team-add-req form select {
  border: none;
  border-bottom: 1px solid black;
  margin-right: 20px;
  /* background-color: rgb(207, 207, 207); */
  height: 30px;
  width: 14%;
  color: gray

}

#team-add-req form label {
 font-weight: bold;
 margin-right: 0.5em;
 font-style: italic;
}




/* #team-add-req form #label-1,
#team-add-req form #label-2 {
  display: flex;
  flex-direction: column;
  width: 200px;
} */


