

.App {
  text-align: center;
}

/* LOGGED IN APP */
.App-loggedin {
  display: flex;
  flex-direction: row;
  
}

.hide {
  display: none;
}

/* VIDEO BACKGROUNDS */

#video-overlay {
  background: rgb(242, 254, 237);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 100%;
  z-index: -1;
  /* animation: videocolor 7s infinite; */
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 30%;
  z-index: -2;
  filter: invert(80%);
  filter: contrast(-1.5);
  transform: rotate(180deg);
}

#video-background2 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 15%;
  /* z-index: -2; */
  /* filter: contrast(3); */
  transform: scaleX(-1); 
  /* filter: invert(70%); */
  filter: brightness(3);
}


/* LANDING PAGE  */

#landing-page-container {
  background-color: rgb(227, 231, 208);
  height: 100vh;
  width: 100vw; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: -10;
  /* margin-top: -5%; */
}

#landing-top {
  display: flex;
  flex-direction: row;
  /* margin-top: 8%; */
}

#landing-header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 10% 0 0 5%;
  width: 40%;
  text-align: left;
}

#landing-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10%;
}

#landing-header h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 10em;
  width: 50%;
  text-align: left;
  line-height: 0.75em;
  text-shadow: -15px 0px 0px rgba(255, 255, 255, 1);
}

#landing-subheading{
  margin-top: 8px;
}

#landing-subheading h2 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 3em;
}

#landing-subheading h3 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  margin: 0;
}

#landing-right-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  margin: 10% 0 0 10%;
  width: 40%;
  text-align: right;
}

#landing-thumbnail {
  background-color: grey;
  height: 300px;
  width: 500px;
}




/* NAVBAR :LOGGED OUT */
#top-nav-container {
  background-color: white;
  width: 100vw;
  height: 60px;
  z-index: -10;
}

#top-nav-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 1% 3% 0 3%;
}

#top-nav-logo h3 {
  color: orangered;
  font-size: 2em;  
}

#top-nav-links a {
  color: black;
}

#top-nav-links a:hover {
  color: orangered;
}

/* #top-nav-content-loggedin {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1.5px solid rgb(227, 231, 208);
} */

#top-nav-content-loggedin a {
  margin: 20px 20px 10px 20px;
  color: black;
}

#top-nav-content-loggedin a:hover {
  color: orangered;
}




/* SIGNUP: FIND COMPANY PAGE */

#signup-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#company-search {
  width: 30em;
}

#signup-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 40em;
  background-color: rgba(255, 255, 255, 0.696);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 4em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#signup-content-container h3 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
  margin-top: -10px;
}

#signup-content-container h4 {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1em;
  font-style: italic;
}

#exit {
  position: relative;
  top: -40px;
  right: -245px;
}

/* SIGNUP: ADD COMPANY FORM */

#formcompany-container form input{
  border: 1px solid rgba(128, 128, 128, 0.331);
  margin-bottom: 1em;
  height: 2.5em;
  width: 25em;
  border-radius: 5px;
}

#formcompany-container form input::placeholder {
  color: rgb(135, 135, 135);
  text-align: center;
  font-size: 0.95em;
}

/* SIGNUP: RECRUITER FORM */

#formsignup-container {
  background-color: rgba(255, 255, 255, 0.696);
  border: 5px solid rgb(255, 255, 255);
  border-radius: 10px;
  padding: 4em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#formsignup-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#formsignup-container form input {
  border: 1px solid rgba(128, 128, 128, 0.331);
  margin-bottom: 1em;
  height: 2.5em;
  width: 25em;
  border-radius: 5px;
}

#formsignup-container form input::placeholder{
  color: rgb(135, 135, 135);
  text-align: center;
  font-size: 0.95em;
}

#formsignup-container h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 3em;
  margin-top: -10px;
}

.exit {
  position: relative;
  top: -40px;
  right: -245px;
}



/* NAV HAMBURGER :LOGGED IN */

#nav-dashboard-container {
  position: relative;
  /* top: -30px; */
  left: -10px;
  background-color: white;
  height: 100vh;
  z-index: 10;
  width: 13%;
  text-align: center;
  border-radius: 50px;
  border: 10px solid white;
}

#nav-dashboard-container h3 {
  color: black;
  font-size: 2em; 
  margin-bottom: 2em; 
  color: orangered;
}

#nav-dashboard-content {
  padding: 1em;
  margin-top: 8em;
}

#nav-dashboard-container a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between; 
  margin-left: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 2.5em;
  color: black;
}

#nav-dashboard-container a:hover {
 color: orangered;
 background-color: white;
 box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 border-radius: 20px;
}

#nav-dashboard-container a:focus {
  color: black;
  background-color: white;
  border-radius: 20px;
 }

 #nav-dashboard-content #logout {
  position: relative;
  bottom: -50px;
 }

/* MY DASHBOARD */


#user-display a{
  display: flex;
  flex-direction: row;
  position: absolute;
  top: 8px;
  right: 48px;
  color: black;
}

#user-display a:hover{
  color:orangered;
}

.dashboard-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  border: 30px solid rgb(255, 255, 255);
  border-radius: 50px;
  background-color: rgba(227, 231, 208, 0.34);
  padding: 3em;
  margin-top: 0;
}

.dashboard-header {
  background-color: rgba(227, 231, 208, 0.607);
  padding: 0.8em;
  border-radius: 20px;
  width: 100%;
  margin-top: -10px;
}

.dashboard-header h1{
  font-family: 'Paytone One', sans-serif;
  font-size: 2.8em;
  text-shadow: -7px 0px 0px rgba(255, 255, 255, 1);
  text-align: left;
}

/* MY DASHBOARD: HOME */

.dashboard-content-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-around;
  width: 100%;
  margin-top: 3.8em;
}

#dashboard-content-left {
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.8em;
  border-radius: 20px;
}

#dashboard-content-middle {
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.8em;
  border-radius: 20px;
}


#dashboard-content-right {
  background-color: rgb(227, 231, 208);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 1.8em;
  border-radius: 20px;
}

#team-block-header {
  margin-bottom: 2em;
}

#team-block-header h3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}

#team-block-header .add-icon {
  font-size: 2.7em;
}

#team-block-header .add-icon:hover {
  color: orangered;
}

#my-metrics-card-container {
  margin: 50px;
}

#my-content-blocks h3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
}


/* MY DASHBOARD: HOME ADMIN */

#admin-team-header h3{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 1.7em;
  
}


/* MY DASHBOARD: ADD NEW TEAM FORM */

#add-team-container {
  background-color: white;
  padding: 3em;
  border: 1px solid rgb(207, 207, 207);
  border-radius: 5px;
  margin-bottom: 1em;
}

#add-team-container input {
  border: 1px solid rgb(207, 207, 207);
  height: 2em;
}

/* DASHBOARD SUB-NAV */

.sub-nav-container {
  width: 100%;
}

.sub-nav-container button {
  border: none;
  padding: 0.8em 1.3em 0.8em 1.3em;
  margin: 20px 10px 0 10px;
  border-radius: 20px;
  color: grey;
  background-color: white;
  font-size: 1em;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  
}

.sub-nav-container button:hover {
  color: orangered;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  cursor:grab;
}

.sub-nav-container button:focus {
  color: white;
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  font-weight: 600;
}

/* MY TEAM CARDS */

.team-card-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#card-content-top #team-data {
  margin: 10px 0 0 -10px;
}

#card-content-top #team-data #team-data-icon {
  width: 100px;
}

.team-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: grab;
}

/* ADMIN: TEAM CARDS  */

#admin-team-header .add-icon:hover {
  color: orangered;
  cursor: grab;
}

.admin-team-card-container {
  margin: 10px;
  /* width: 300px; */
}

.admin-team-card-container:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: grab;
}

.admin-team-card-container #admin-card-content-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 9px;
}

#admin-edit-icon {
  position: absolute;
  right: 45px;
  margin-top: -10px;
  color: rgb(169, 169, 169);
}

#admin-edit-icon:hover {
  color: black;
  cursor: grab;
}

#admin-delete-icon {
  position: absolute;
  right: 10px;
  margin-top: -7px;
  color: rgb(169, 169, 169);
}

#admin-delete-icon:hover {
  color: orangered;
  cursor: grab;
}


/* MY REQS PAGE  */

.req-container {
  background-color: rgba(255, 255, 255, 0.71);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 2em;
  border-radius: 20px;
  margin-top: 3%;

}

#req-id-column {
  width: 70px;
}

#req-row-hired {
  background-color: rgb(243, 243, 243);
  color: grey;
  font-style: italic;
}

#edit-req-column {
  width: 70px;
}

#delete-req-column {
  width: 70px;
}

/* MY SETTINGS PAGE  */

#settings-card {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 900px;
  border: 20px solid white;
  margin-top: 5%;
}

#settings-left-content {
  background-color: rgb(227, 231, 208);
  padding: 5em;
  /* border-radius: 10px 0 0 20px; */
}

#settings-left-content h1 {
  font-family: 'Paytone One', sans-serif;
  font-size: 7em;
  width: 50%;
  text-align: left;
  line-height: 0.9em;
  text-shadow: -15px 0px 0px rgba(255, 255, 255, 1);
}

#settings-left-content h3 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-weight: 400;
  font-size: 2em;
}

#settings-left-content h1 span {
  color: orangered;
}

#settings-right-content {
  background-color: rgba(255, 255, 255, 0.71);
  padding: 6em;
  /* border-radius: 0 20px 20px 0; */
  width: 700px;
}

#settings-right-content .title {
  font-weight: 600;
}

#settings-right-content p {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 300;
  font-size: 1.1em;
}

/* MY SETTINGS PAGE: FORM */

#form-edit-recruiter-container {
  background-color: rgba(255, 255, 255, 0.696);
  padding: -10px;
}

#form-edit-recruiter-container form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border: none;
}

#form-edit-recruiter-container form input {
  border: 1px solid rgba(128, 128, 128, 0.331);
  margin-bottom: 1em;
  height: 2.5em;
  border-radius: 5px;
}

#form-edit-recruiter-container form input::placeholder{
  color: rgb(135, 135, 135); 
  font-size: 0.95em;
}

#form-edit-recruiter-container .exit {
  position: relative;
  top: -60px;
  right: -220px;
}

#form-edit-recruiter-container .exit a {
  color: rgb(170, 170, 170);
}

#form-edit-recruiter-container .exit a:hover {
  color: black;
}