.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/* LANDING PAGE  */

#video-overlay {
  background: rgb(255, 221, 157);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 75%;
  z-index: -1;
  /* animation: videocolor 7s infinite; */
}

#video-background {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 20%;
  z-index: -2;
  /* filter: brightness(3); */
  /* filter: invert(70%); */
  filter: contrast(2);
  transform: rotate(180deg);
}

#video-background2 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 30%;
  z-index: -1;
  filter: contrast(2);
  transform: scaleX(-1); 
}

/* @keyframes videocolor {
  0%   {background: rgb(255, 221, 157);}
  25%  {background: rgb(255, 188, 63);}
  75%  {background: rgb(238, 154, 0);}
  100% {background: rgb(255, 221, 157);}
} */


/* SIGNUP PAGE */

#signup-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#company-search {
  width: 50em;
}

/* SIGNUP FORM */

#formsignup-container form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

